<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >        

	<bean id="iInjectService" class="com.ioc.inject.service.InjectServiceImp">
		<property name="iInjectDao" ref="iInjectDao"></property> 
		<!-- <constructor-arg name="iInjectDao" ref="iInjectDao"></constructor-arg> -->
	</bean>	
	<bean id="iInjectDao" class="com.ioc.inject.dao.InjectDaoImp"></bean>
 </beans>
